body {
    background-color: #ffe6e6;
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flower {
    position: absolute;
    user-select: none;
    z-index: 1;
    animation: aparecerFlor 2.5s ease-out forwards;
    pointer-events: none;
}

@keyframes aparecerFlor {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 0.5; }
}

.container {
    z-index: 10;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
    min-height: 400px;
    position: relative; /* Clave para el botón No */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-img {
    width: 100%;
    border-radius: 15px;
}

h1 { color: #d63384; font-size: 22px; margin: 20px 0; }

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    position: relative;
    min-height: 50px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    width: fit-content;
}

#btnSi {
    background-color: #ff4d6d;
    color: white;
}

#btnNo {
    background-color: #f8f9fa;
    color: #888;
    position: absolute; /* Para que se mueva libremente */
    right: 50px;       /* Posición inicial */
    transition: 0.1s;
}
