body {
    margin: 0;
    background: #ffe6f0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Canvas flores */
#flowerCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

/* Tarjeta */
.container {
    position: relative;
    z-index: 10;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    width: 350px;
    min-height: 450px;
    text-align: center;
}

.main-img {
    width: 250px;
    border-radius: 15px;
}

h1, h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    color: #d63384;
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Botones */
.buttons-container {
    width: 100%;
    height: 120px;
    position: relative;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

#btnSi {
    background-color: #ff4d88;
    color: white;
    position: absolute;
    left: 40px;
    top: 40px;
}

#btnNo {
    background-color: #eee;
    color: #666;
    width: 80px;
    position: absolute;
    left: 200px;
    top: 40px;
    transition: left 0.15s ease, top 0.15s ease;
    touch-action: none;
}

#mensajeFinal {
    display: none;
}


