body {
    background-color: #ffe6e6;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Flores */
.flower {
    position: absolute;
    z-index: 1;
    animation: aparecerFlor 2.5s ease-out forwards;
}

@keyframes aparecerFlor {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 0.5; }
}

/* Tarjeta */
.container {
    z-index: 10;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
    width: 350px;
    min-height: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-img {
    width: 250px;
    border-radius: 15px;
}

/* Contenedor de botones */
.buttons-container {
    width: 100%;
    height: 120px;
    position: relative;
    margin-top: 20px;
}

/* Botones generales */
button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* Botón Sí */
#btnSi {
    background-color: #ff4d6d;
    color: white;
    position: absolute;
    left: 40px;
    top: 40px;
}

/* Botón No */
#btnNo {
    background-color: #f8f9fa;
    color: #555;
    width: 80px;
    position: absolute;
    left: 200px;
    top: 40px;
    touch-action: none;
    transition: left 0.2s ease, top 0.2s ease;
}

